<html>
	<head>
		<meta http-equiv="content=type" content="text/html;charset=utf-8">
		<title>UserShow</title>
	</head>
	<load href='__PUBLIC__/Css/Home/show.css'/>
	<font size=7 color=red><center>投票结果</center></font>
	<body>
		<table width="700"  border="1" color="red" align="center">
			<tr><td><font size="6">姓名</td> <td><font size="6">班级</td> <td><font size="6">票数</td>
			<foreach name='list' item='vo'>
				<tr>
					<td>{$vo.name}</td> 
					<td>{$vo.class}</td>
					<td>{$vo.count}</td>
				</tr>
			</foreach>
		</table>
			<div id='b'><a href='__APP__/Home/Vote/vote'>返回主页面</a></div>
	</body>
</html> 